torch==1.4.0
numpy==1.18.3
transformers==2.9.0
tokenizers==0.7.0
pytorch-lightning==0.7.5
more-itertools==8.2.0
cached-property==1.5.1
docstring-parser==0.7.1
tqdm==4.45.0
pytest==5.4.1
pydantic==1.5.1
fastapi==0.54.1
gunicorn==20.0.4
uvicorn==0.11.5
aiohttp==3.6.2
aiogram==2.8
